
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#createCategory">Create</button>
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#fileManager">Delete</button>
    @await Html.PartialAsync("~/Areas/Admin/Views/Shared/FileManager/Index.cshtml")
</body>
</html>
