<div class="modal fade" id="modalCreateCategory" tabindex="-1" role="dialog" aria-labelledby="Category" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title" id="Category" style="font-size:20px">Category Form Create</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fuild" style="padding: 0px 30px">
                    <form id="frmCreateCategory" method="post">
                        <div class="form-group row">
                            <div class="col-md-9 pull-right offset-3" style="padding: 0px">
                                <ul class="shunshine-ul" id="frmCategoryShowMessage">
            
                                </ul>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label">Name </label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="txtName" name="Name" autocomplete="off">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 form-control-label">Slug </label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="txtSeoAlias" name="SeoAlias" autocomplete="off">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 form-control-label">Description </label>
                            <div class="col-md-9">
                                <textarea class="form-control" name="Description" id="txtDescription" rows="3"></textarea>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 form-control-label">Parent </label>
                            <div class="col-md-9">
                                <select class="form-control" id="txtParentId" name="ParentId">
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 form-control-label">Image </label>
                            <div class="col-md-9">
                                <div class="input-group input-group-file" data-plugin="inputGroupFile">
                                    <input type="text" class="form-control" id="txtImage" name="Image">
                                    <div class="input-group-append">
                                        <span class="btn btn-success btn-file btnChooseFileName">
                                            <i class="icon wb-upload" aria-hidden="true"></i>
                                            <input type="file" name="" multiple="">
                                        </span>
                                    </div>
                                </div>
                               
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 form-control-label">Parent </label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="txtParentId" name="ParentId" autocomplete="off">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 form-control-label">SeoPageTitle </label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="txtSeoPageTitle" name="SeoPageTitle" autocomplete="off">
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label">SeoKeywords </label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="txtSeoKeywords" name="SeoKeywords" autocomplete="off">
                            </div>
                        </div>  
                        
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label">SeoDescription </label>
                            <div class="col-md-9">
                                <textarea class="form-control" name="Description" id="txtDescription" rows="3"></textarea>
                            </div>
                        </div>                        
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label">Status </label>
                            <div class="col-md-9">
                                <select class="form-control" name="Status" id="txtStatus">
                                    <option value="1">Active</option>
                                    <option value="0">DeActive</option>
                                </select>                            
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" id="btnSaveChange">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script>
    //$(document).on("click", "#chooseImage", function () {
    //    $("#fileManager").modal("show");
    //})
</script>